<div class="app-container">
   <mat-toolbar color="primary">
    <span>Mapbox Angular Integration</span>
  </mat-toolbar>

   <div class="content">
    <mat-card>
      <mat-card-content>
        <app-mapbox-search (locationSelected)="onLocationSelected($event)"></app-mapbox-search>
      </mat-card-content>
    </mat-card>

    <div #mapContainer id="map" class="map-container" *ngIf="selectedLocation"></div>

    <mat-card *ngIf="selectedLocation && selectedLocation.place_name" class="location-details-card">
      <mat-card-header>
        <mat-card-title>Selected Location</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Name:</strong> {{ selectedLocation.place_name }}</p>
        <p><strong>Coordinates:</strong> [{{ selectedLocation.center[0] }}, {{ selectedLocation.center[1] }}]</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<router-outlet />
